/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Estilo del header con imagen de fondo */
header {
    text-align: center;
    padding: 45px 0;
    background-image: url('https://res.cloudinary.com/dh6ipg8bj/image/upload/v1725630152/clases-ensenanza/stage_2_hzgjhe.png');
    background-size: cover;
    background-position: top;
    color: white;
    height: 40vh; /* Altura fija para el header */
    overflow: hidden; /* Oculta cualquier desbordamiento */
}

/* Estilo para el título principal de la sección CTA */
#cta h1 {
    font-size: 4em;
    margin: 0;
    margin-top: 10px;
    text-shadow: 2px 2px 2px black; /* Sombra para el texto */
}

/* Color del texto "Fighters" */
#cta h1 span {
    color: blue;
}

/* Estilo general para las secciones */
section {
    padding: 50px 20px;
    text-align: center;
}

/* Estilo de los botones */
button {
    padding: 10px 20px;
    font-size: 1em;
    background-color: blue;
    color: white;
    border: none;
    cursor: pointer;
}

/* Estilo de la sección del formulario */
section#form {
    background-color: lightgray; /* Color de fondo de la sección */
}

/* Estilos del formulario */
form {
    margin: 0 auto;
    max-width: 350px; /* Ancho máximo del formulario */
    text-align: left;
    margin-bottom: 100px; /* Espacio inferior */
}

/* Estilos para las etiquetas del formulario */
form label {
    display: block;
    margin-bottom: 5px;
}

/* Estilos para los campos de entrada */
form input,
form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid whitesmoke; /* Borde claro */
    border-radius: 5px; /* Bordes redondeados */
}

/* Estilo para el botón de enviar */
form button {
    width: 50%; /* Hace que el botón ocupe la mitad del formulario */
    margin-left: 25%; /* Centra el botón horizontalmente */
}

/* Estilos del pie de página */
footer {
    text-align: center;
    background-color: black;
    color: white;
    padding: 5px 0;
    position: fixed; /* Hace que el footer permanezca fijo al fondo */
    bottom: 0;
    width: 100%;
}
